/* HW5 – COSC 2328 – Professor McCurry
   Implemented by: [Diego Maradiaga] */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

.site-header {
    padding: 25px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

.instructions {
    font-size: 1.1rem;
}

.info-box {
    padding: 20px;
    border: 1px solid #999;
    border-radius: 8px;
}

.site-footer {
    padding: 20px;
    text-align: center;
}